*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#app {
  height: 100lvh;
}

canvas {
  display: block;
  background: #cfeb46;

  &:focus-visible {
    outline-color: #d9d9d9;
  }
}
